.rotate-image {
  animation: rotateAndSlide 5s linear infinite;
}

@keyframes rotateAndSlide {
  0% {
    transform: rotate(0deg) translateX(230%);
  }
  100% {
    transform: rotate(0deg) translateX(-50);
  }
}
